<!DOCTYPE html>
 <html>
 <head>
 
 </head>
 <body>

  <div>
   <header><h1>Welcome to Nelisa Spaza App</h1></header>

    <input type="submit" value="login" onclick="window.location='/my/link/location';" />
    <input type="submit" value="signUp" onclick="window.location='/Express_app/views/signUp';" />  

</body>
</html>