<html>
<head> 
     <title>Login</title>  
</head>

<body>

		<form action="/form/login" method="post"/>
		    <button type="button">Login</button>
		    <input type="submit" value="submit">
		</form>

</body>
</html>