<html>
<head> 
     <title>Login</title>  
</head>

<body>
      <h2>login</h2>

    <form action="/login" method="POST"/>
        <input type="text" name="userName" placeholder="Enter user name">
         <input type="password" name="password" placeholder="Enter user password">

        <input type="submit"></input>
    </form>

</body>
</html>