<html>
<head> <title>Register as a User</title>
    
    
</head>

<body>

	<form action="/users/add" method="post">
		 <input type="text" name="user" placeholder="Add user"/>	
		 <input type="submit" name="submit" value="Submit"/>
	</form>

</body>
</html>